<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List bonus</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="app">
            <h1>Mail List</h1>            
            <ul v-if="mailList.length === 10">
                <li v-for="(mail,i) in mailList">{{i }} {{mail}}</li>
            </ul>
            <h2 v-else>Recupero e-mail da server in corso ... </h2>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>